In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import text

In [8]:
dataFrame = pd.read_csv("Articles.csv", encoding='latin1')

In [9]:
dataFrame.head()

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business

In [13]:
articles = dataFrame['Article'].tolist()

In [14]:
vectorized = text.TfidfVectorizer(input = articles, stop_words = "english")

In [15]:
vectorized = vectorized.fit_transform(articles)

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
articles = cosine_similarity(vectorized)

In [19]:
articles

array([[1.00000000e+00, 1.56505224e-02, 0.00000000e+00, ...,
        3.27021386e-02, 7.33248507e-03, 1.61629945e-02],
       [1.56505224e-02, 1.00000000e+00, 1.79709311e-01, ...,
        1.85810489e-02, 4.94580250e-02, 1.21606301e-02],
       [0.00000000e+00, 1.79709311e-01, 1.00000000e+00, ...,
        0.00000000e+00, 1.42812510e-02, 5.84479312e-04],
       ...,
       [3.27021386e-02, 1.85810489e-02, 0.00000000e+00, ...,
        1.00000000e+00, 1.61715396e-02, 1.15868753e-02],
       [7.33248507e-03, 4.94580250e-02, 1.42812510e-02, ...,
        1.61715396e-02, 1.00000000e+00, 3.94617802e-03],
       [1.61629945e-02, 1.21606301e-02, 5.84479312e-04, ...,
        1.15868753e-02, 3.94617802e-03, 1.00000000e+00]])

In [26]:
def recommend_articles(x):
    return ", ".join(dataFrame["Heading"].loc[x.argsort()[-5:-1]])

In [27]:
dataFrame['Recommende Article'] = [recommend_articles(x) for x in articles]

In [28]:
dataFrame.head()

,Article,Date,Heading,NewsType,Recommende Article
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,"CNG supply resumes Sindh three day long stri, ..."
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,asia stocks extend gains tokyo lifted by weak ...
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,"Hong Kong Shanghai stocks open lower, Hong Kon..."
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,"asian stocks mostly up after record on wall , ..."
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,"oil rebounds after volatile , Oil edges up on ..."

In [32]:
print(dataFrame["Recommende Article"][22])

moodys upgrades pakistans credit rating to b3, petrol price expected to be slashed by rs 10 per litr, moodys upgrades pakistan bond rating, sp raises pakistans outlook forecasts higher gr